<?xml version="1.0" encoding="UTF-8"?>
<!--
      alarm_zc_device_status_info模块对应的数据库访问配置文件
	  since 2015-12-24 15:34
	  author autogen
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.huayun.sample.dao.south.SouthTestMapper">

	<select id="getTestSouthData" resultType="java.util.Map">
		SELECT *
		FROM H20171201
	</select>


</mapper>